body{
	font-family:Verdana;
	font-size: 13px;
}

#ontop {	background-color:#0078b7;
			color:white;
			position:fixed;
			display:none;
}

i{
	color:#0078b7;
}

h1{
	font-family:Times;
	color:#0078b7;
	font-size: 48px;
}

ul{
	margin: 0;
}

#box{
	width:247px;
	height:64px;
	color:white;
	margin:10px;
	margin-left:0;
	margin-top:0;
	padding:7px;
	float:left;
	border:1px solid #303030;
}

.blue{
	background:#0078b7;
}

.gray{
	background: gray;
}

#box > img{
	width:64px;
	height:64px;
	border:1px solid #303030;
}

#box > div{
	width:175px;
	position:relative;
	left:70px;
	bottom:68px;
	font-size: 13px;
	line-height:15px;
}

iframe{
	border:1px solid #303030;
}

#img_mail{
	width:40px;
	height:40px;
}

#logo{
	margin-top: 10px;
	margin-left: 5px;
}
#price{
	padding:1px 4px 1px 4px;
	margin-top:3px;
}