node_modules/

watch/img/lepnina/*_full.jpg
watch/img/lityo/*_full.jpg
watch/img/prints/*_full.jpg
watch/content/*.pdf
watch/content/*.doc
watch/content/*.xls

build/img/lepnina/*_full.jpg
build/img/lityo/*_full.jpg
build/img/prints/*_full.jpg
build/content/*.pdf
build/content/*.doc
build/content/*.xls