/* cyrillic */
@font-face{
  font-family: 'Playfair Display';
  font-style: normal;
  src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url(../fonts/PlayfairDisplay.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@header-height: 110px;
@footer-height: 15px;
@body-font: 0.8em Verdana;
@black: rgb(0, 0, 0);
@white: rgb(255, 255, 255);
@blue: #0078b7;
@gray: #4d4d4d;
@orange: orange;
@red: red;

@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;

//Mixins///////////////////

//Mixins//////////////////
.red{
	color: @red;
}

html{
 	width: 100%;
 	height: 100%;
 	font-size: 100.01%;
}

body{
	font: @body-font;
	width: 100%;
	height: 100%;
	opacity: 0.99;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-font-smoothing: subpixel-antialiased !important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}

ul{
	padding: 0;
	margin: 0;
}

li{
	padding: 0;
	left: 0;
	list-style: none outside none;
}

p{
	padding: 0;
	margin: 0;
}

header{/*Black strip of menu on top*/
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	border: 1 solid @gray;
	color: @white;
	background: @gray;
	height: @header-height;
	font-size: 11px;
	text-align: center;
	z-index: 1000;
	opacity: 0.95;
}

footer{
	background-color: @gray;
	color: @white;
	position: relative;
	margin-top: -@footer-height;
	height: @footer-height;

	//border-top: 1px dashed gray;
	text-align: center;
	font-size: 10px;
	line-height: @footer-height;
}

img, iframe{
	margin: 0 auto;
}

i{
	color: @blue;
}

table, tr, th, td{
	border: 1px solid @gray;
	border-collapse: collapse;
}
th{
	background-color: @orange;
}
th, td{
	padding: 2px;
}

th, .td-num, .td-components, .td-componentA, .td-componentB, .td-systemAB{
	text-align: center;
}

a, button, div{
	outline: none!important;
}

.td-rus{
	background-color: yellow;
}

.container, .container-fluid{
	position: relative;
}

.wrapper{
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;

	.empty{
		position: relative;
		height: @footer-height;
	}
}

.content{
	padding-top: @header-height + 5px;
}

.logo{
	height: @header-height;
}

.logo__img{
	height: @header-height - 10px;
	margin-top: 5px;
	background-image: url(../img/logo_pure.png);
	background-repeat:  no-repeat;
	background-size: contain;
	background-position: center, center;
}

.logo__span{
	height: @header-height;
}

.logo__label{
	font-family: 'Playfair Display', serif;
	color: @blue;
	font-size: 5.5em;
	padding: 0;
	margin: 0;
	width: 100%;
}

.logo__slogan{
	color: @white;
}

.nav__item-text{
	background-color: @black;
	color: @white;
	float: left;
	height: @header-height;
	padding:10px 1px 1px 1px;
	border: 1px solid @black;
	border-left: 1px solid @gray;
	font-size: 1.1em;
}
.nav__item-text:hover{
	border: 1px solid @white;
}

.products__item:hover{
	background-color: #ced7ed;
	border-radius: 10px;
}

.products__item a{
	text-decoration: none;
}

.active_tab{
	li{
		background: @orange;
		border: 1px solid @orange;
		color: @black;
	}
}

#ontop{/*Button "On Top" in left part*/
	background-color: @blue;
	color: @white;
	position: fixed;
	top: 0;
	display: none;
	text-align: center;
	padding-top: @header-height;
	z-index: 1;
	height: 100%;
}

.contacts{
	padding-top: 5px;
}
.contacts a{
	color: @white;
}
.contacts__mail-img{
	height: 34px;
	border-radius: 50%;
}
.contacts__mail-img:hover{
	border: 1px solid @white;
}

#vk_groups, .video, iframe .social-item{
	padding: 0;
	margin: 0;
	border: 0;
	//margin-top: 10px;//Ломает футер, потому что торчит вверх над wrapper и сдвигает его вниз.
}

.filters{
	margin-bottom: 10px;
}

.example-image{
	padding: 1px;
}

.modal-body-img-link{
	margin-left: 5px;
}

.products__item{
	height: 330px;
	padding-top: 0;
	padding-bottom: 0;
}

.products__item-gallery{
	padding-top: 5px;
}

.products__item-img-big{

}

.products__item-img{
	margin:0;
	padding:0;
	border:0;
	padding-left: 5px;
}

.products__item-link, .products__item-link:hover{
	color: @black;
	text-decoration: none;
}

.promo{
	text-align: right;
}

.modal-measure-scrollbar{/*для компенсации смещения из-за скрытия скроллбара при открытии модального окна*/
  position:absolute;
  height:100px;
  width:100px;
  top:-300px;
  left:-300px;
  overflow:scroll;
  overflow-y:scroll
}
  .modal-measure-scrollbar .inner{
    height:200px
}

@media (max-width: @screen-xs-max) {

	@header-height-temp: @header-height * 2;

	header {
		height: @header-height-temp;
	}

	.content {
		padding-top: @header-height-temp;
	}

	.nav__item-text {
		height: @header-height-temp / 3;
	}

}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.nav__item-text {
		height: @header-height / 2;
	}

	.logo__label{
		font-size: 2.5em;
	}
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.nav__item-text {
		height: @header-height / 2;
	}

	.logo__label{
		font-size: 4.5em;
	}
}

@media (min-width: @screen-lg-min) {

}